<div>

    <form name="mainForm" ng-submit="vm.importData()" novalidate>

        <fieldset class="group" ng-disabled="vm.loading">

            <legend>Import Data</legend>

            <div class="row">

                <div class="col-sm-8 col-md-8 col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error':  mainForm.$submitted && mainForm.importFile.$invalid}">
                        <label for="importFile">File</label>
                        <input type="file" id="importFile" name="importFile" class="form-control" ng-model="vm.importFile" text-file-reader="vm.importFileContent" ng-required="true" ngf-select="" ngf-pattern="'.csv'" ngf-accept="'.csv'" accept=".csv" />
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-group error-messages has-error alert alert-danger" ng-if="mainForm.$submitted && (mainForm.$invalid || vm.tokens.length === 0)">

            <span class="help-block has-error"
                  ng-if="mainForm.$submitted">
                <span>
                    Please correct the following errors:
                </span>
            </span>

            <ul>

                <li class="help-block has-error"
                    ng-if="mainForm.$submitted"
                    ng-messages="mainForm.importFile.$error">
                    <span ng-message="pattern">
                        Invalid file type.
                    </span>
                    <span ng-message="required">
                        File is required.
                    </span>
                </li>

            </ul>

        </div>

        <fieldset ng-disabled="vm.loading">
            <button type="submit" class="btn btn-success">Import File<i class="fa fa-cloud-upload ml-1"></i></button>
            <button type="button" class="btn btn-info" ng-click="vm.showHelp()">Show Help<i class="fa fa-info-circle ml-1"></i></button>
        </fieldset>

    </form>

    <div ng-if="!vm.loading && vm.cells.length > 0">

        <hr />

        <h3 class="mb-3">Import Errors</h3>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-toggle="tab" data-target="#grid" role="tab">Grid View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#list" role="tab">List View</a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="grid" role="tabpanel">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-center" ng-repeat="col in vm.cells[0] track by $index">{{ vm.columnName($index + 1) }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in vm.cells track by $index">
                                <th scope="row">{{$index + 1}}</th>
                                <td data-toggle="tooltip" data-placement="top" title="{{col.error}}"
                                    ng-class="{ 'table-danger': !!col.error, 'text-right': $parent.$index > 1 && $index > 0 }"
                                    ng-repeat="col in row track by $index">
                                    {{ col.contents }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="tab-pane" id="list" role="tabpanel">

                <table class="table table-striped table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Row</th>
                            <th scope="col">Column</th>
                            <th scope="col">Address</th>
                            <th scope="col">Value</th>
                            <th scope="col">Error</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cell in vm.flattenCells()" ng-class="{ 'table-danger': cell.error }">
                            <td>{{ cell.row }}</td>
                            <td>{{ cell.column }}</td>
                            <td>{{ vm.columnName(cell.column) }}{{ cell.row }}</td>
                            <td>{{ cell.contents }}</td>
                            <td>{{ cell.error }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>

<script type="text/ng-template" id="helpmodal.html">

    <div class="modal-header">
        <h3 class="modal-title">File Import Help</h3>
        <i class="fa fa-close" ng-class="{ 'disabled': vm.loading }" ng-click="vm.cancel()"></i>
    </div>
    <div class="modal-body">

        <p>The import file must be a <abbr>CSV</abbr> file format (Comma Separated Values). Typically you can use Microsoft Excel and 'Save As' to save a single worksheet as a CSV file. Saving as a CSV file will remove all formatting, formulas, etc. and just retain the data.</p>

        <p>The required structure for importing is as follows:</p>

        <ul>
            <li>The <strong>first row</strong> must contain the <code>indicator codes</code>, except for the first column (A1), which must be blank.</li>
            <li>The <strong>second row</strong> must contain the <code>dates</code>, except for the first column (A2), which must be blank.</li>
            <li>The <strong>first column</strong> must contain the <code>entity codes</code>, except for the first two rows (A1 &amp; A2), which must be blank (as mentioned above).</li>
            <li>The <strong>other cells</strong> (B3, B4, C3, C4, etc) must contain the <code>Value</code> to be imported. This can be left blank if there is no value available.</li>
        </ul>

        <!--TODO: add images back when data is available-->
        <!--<p>The screenshot below shows what the file could look like when open in Microsoft Excel:</p>

        <p><img src="images/importfileinexcel.jpg" class="img-responsive img-thumbnail mx-auto d-block" alt="File Structure in Excel" /></p>

        <p>The CSV only stores the data. The raw data can be viewed with a program like Notepad. The screenshot below shows the same file from the above screenshot, opened using Notepad:</p>

        <p><img src="images/importfileinnotepad.jpg" class="img-responsive img-thumbnail mx-auto d-block" alt="File Structure in Notepad" /></p>-->

        <p>It is suggested that you use Excel to prepare the data (saved as an Excel .xlsx file), as it is easy to move columns and rows, etc. When the data is ready to import, use the <code>Save As</code> menu item to save the worksheet as a CSV file, which you can then import.</p>

    </div>
    <div class="modal-footer">
        <fieldset ng-disabled="vm.loading">
            <button class="btn btn-secondary" type="button" ng-click="vm.close()">Close</button>
        </fieldset>
    </div>

</script>
