<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient"
		  connectionString="{LIVE_CONNECTION_STRING}"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="RootUrl" value="{LIVE_SITE_URL}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteName" value="{LIVE_SITE_NAME}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email:ToErrors" value="{LIVE_ERROR_EMAILS}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Email:SubstitutionAddress" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!--remove caching from live site-->
  <location path="app" xdt:Locator="Match(path)" xdt:Transform="Remove">
  </location>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <!--add https-->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTPS" stopProcessing="true" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>