<div class="row">

    <form name="mainForm" ng-submit="vm.save()" novalidate class="col-sm-8 col-md-6 col-lg-4">

        <fieldset class="group" ng-disabled="vm.loading">

            <legend>Change Password</legend>

            <div class="row">

                <div class="col-sm-12">
                    <div class="form-group" ng-class="{ 'has-error':  mainForm.$submitted && mainForm.currentPassword.$invalid}">
                        <label for="currentPassword" class="control-label">
                            Current Password:
                        </label>
                        <input type="password" id="currentPassword" name="currentPassword" ng-model="vm.password.currentPassword" class="form-control" required />
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" ng-class="{ 'has-error':  mainForm.$submitted && mainForm.newPassword.$invalid}">
                        <label for="newPassword" class="control-label">
                            New Password:
                        </label>
                        <input type="password" id="newPassword" name="newPassword" ng-model="vm.password.newPassword" class="form-control" required />
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group" ng-class="{ 'has-error':  mainForm.$submitted && mainForm.repeatPassword.$invalid}">
                        <label for="repeatPassword" class="control-label">
                            Repeat Password:
                        </label>
                        <input type="password" id="repeatPassword" name="repeatPassword" ng-model="vm.password.repeatPassword" class="form-control" required />
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-group error-messages has-error alert alert-danger" ng-if="mainForm.$submitted && mainForm.$invalid">

            <span class="help-block has-error"
                  ng-if="mainForm.$submitted">
                <span>
                    Please correct the following errors:
                </span>
            </span>

            <ul>

                <li class="help-block has-error"
                    ng-if="mainForm.$submitted"
                    ng-messages="mainForm.currentPassword.$error">
                    <span ng-message="required">
                        Current Password is required.
                    </span>
                </li>

                <li class="help-block has-error"
                    ng-if="mainForm.$submitted"
                    ng-messages="mainForm.newPassword.$error">
                    <span ng-message="required">
                        New Password is required.
                    </span>
                </li>

                <li class="help-block has-error"
                    ng-if="mainForm.$submitted"
                    ng-messages="mainForm.repeatPassword.$error">
                    <span ng-message="required">
                        Repeat Password is required.
                    </span>
                </li>

            </ul>

        </div>

        <fieldset ng-disabled="vm.loading">
            <button type="submit" class="btn btn-success">Save<i class="fa fa-check ml-1"></i></button>
        </fieldset>

    </form>

</div>
