
@{
    ViewBag.Title = "Lockout";
}

<div id="lockout">

    <h3>Account Lockout</h3>
    <p>Your login has been temporarily locked. Please try again later.</p>

</div>

<style>
    #lockout {
        background:white;
        border:solid 1px #444;
        padding: 20px;
    }
</style>