@using WEB.Models
@model ResetPasswordViewModel

@using (Html.BeginForm("ResetPassword", "Account", new { }, FormMethod.Post, new { @class = "form-signin mb-5 text-center", id = "resetpassword" }))
{
    @Html.AntiForgeryToken()

    <img class="mb-3" src="images/logo.png" alt="@ViewBag.SiteName" />

    if (ViewData.ModelState.Values.Any(o => o.Errors.Any()))
    {
        <div class="mb-3">
            <ul class="list-group">
                @foreach (ModelState modelState in ViewData.ModelState.Values)
                {
                    foreach (ModelError error in modelState.Errors)
                    {
                        <li class="list-group-item list-group-item-danger">@error.ErrorMessage</li>
                    }
                }
            </ul>
        </div>
    }

    <label for="inputEmail" class="sr-only">Email address</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address", required = "", autofocus = "", type = "email" })

    <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">Reset password</button>

    <div class="small mt-2 text-right">
        <a href="/login">return to login</a>
    </div>

}
