
<div class="container">
    <img class="mb-4" src="images/logo.png" alt="@ViewBag.SiteName" />
    <div id="errorbody">
        <p><strong>Whoops!</strong></p>
        <p>
            It looks like something went wrong. The error has been logged and will be fixed ASAP.
        </p>
    </div>
</div>

